a {
  text-decoration: none;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: whitesmoke;
}

.Header {
  background-color: #181315;
  border: none;
}

.Header p {
  margin: 8px;
  text-align: center;
  font-weight: 700;
  font-style: italic;
  color: #412cff;
  font-size: 3.8vw;
  opacity: 85%;
}

.Footer {
  background-color: #412cff;
  width: 100vw;
  border-top: solid 3px white;
  margin-top: 5vw;
  padding-top: 10vw;
  padding-bottom: 10vw;
}

.Footer p {
  margin: 8px;
}

.dash p {
  font-size: 5em;
  text-align: right;
  font-weight: 800;
  font-style: italic;
  color: #181315;
  opacity: 80%;
}
.dash {
  height: 100vh;
  margin-left: 15em;
  margin-right: 15em;
}

.dash-list {
  margin: auto;
  text-align: center;
}

.dash-list ul {
  list-style: none;
}

.dash-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dash-list p {
  font-size: 1.7em;
  text-align: left;
  font-weight: 600;
  font-style: normal;
}

.dash-list li img {
  filter: grayscale();
  margin: 2em;
  width: 50px;
  height: 50px;
}

#info {
  font-size: 2em;
  font-weight: 700;
  font-style: italic;
  color: #181315;
  opacity: 80%;
}

.topic-bar {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 2vh;
  margin: 0 auto auto auto;
  padding: 0.5vw 1vw;
  gap: 2vw;
}

.single-topic-card-main {
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.06));
  padding: 10px 20px;
}

.xs-topic-card-info-container {
  display: flex;
  flex-direction: row;
}

#topic-title-main {
  font-size: 2vw;
  font-weight: 800;
  margin: 0;
  letter-spacing: 2px;
  color: #181315;
  margin: auto;
  border-right: solid whitesmoke 3px;
  padding-right: 3px;
  margin-right: 6px;
  font-style: italic;
  opacity: 85%;
}

.xs-stats-container {
  display: flex;
  flex-direction: column-reverse;
  margin: 0;
  justify-content: center;
}

.xs-stats {
  display: flex;
  flex-direction: row;
  gap: 0;
}

#xs-stats {
  font-size: 2.1vw;
  font-weight: 800;
  margin: 0;
  font-style: italic;
  color: #412cff;
  text-align: center;
}

#xs-stats-text {
  font-size: 2vw;
  font-weight: 800;
  margin: 0;
  color: #fe4b72;
  opacity: 85%;
  margin-left: -10px;
  margin-top: -5px;
}

.sorting-bar {
  display: flex;
  flex-direction: row;
  margin-right: auto;
  gap: 2vw;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: 0;
  margin-top: 2vw;
  margin-bottom: 1.5vw;
  padding-top: 3vw;
}

.sorter button {
  background-color: white;
  font-weight: 700;
  font-size: 2.3vw;
  border: solid 1px #18131513;
  color: #181315;
  opacity: 80%;
  border-radius: 12px;
  padding: 8px 40px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.06));
}

.sorter button:hover {
  opacity: 100%;
}

.toggle-container {
  display: flex;
  flex-direction: column;
}

#toggle-comments {
  border: none;
  font-size: 3em;
  font-weight: 800;
  font-style: italic;
  padding: 1em;
  word-spacing: 8px;
  letter-spacing: 8px;
  background: none;
  margin-top: -3em;
  text-align: left;
  margin-left: 2em;
  opacity: 80%;
}

.comment-form-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 15.5em;
  margin-right: 15.5em;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 2em;
  margin-top: 2em;
}

.comment-form-container form {
  width: 100%;
  height: 200%;
}

.comment-form-container input {
  border: none;
  text-align: left;
  font-size: 1.5em;
  box-sizing: border-box;
  width: 95%;
  height: 10vh;
  margin-left: 20px;
  margin-top: 15px;
  margin-bottom: 5px;
}

.comment-form-container button {
  font-size: 1.2em;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 5px;
  margin-right: 1em;
  margin-bottom: 10px;
  background-color: #080707;
  border: none;
  color: white;
}

.comments-container {
  padding: 20px;
  width: 60%;
  margin: auto;
  background-color: white;
  border-radius: 5px;
  margin-bottom: 10em;
}

.comments-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-card {
  margin-bottom: 1em;
  border-bottom: 1px solid whitesmoke;
}

.comment-card-main {
  display: flex;
  flex-direction: row;
  margin-bottom: 1.5vh;
}

.comment-card-body {
  margin: 0;
  text-align: left;
  padding-left: 0.5vw;
  padding-right: 1.5vw;
  font-size: 2.5vh;
  font-weight: 500;
  line-height: 3vh;
  opacity: 80%;
}

.comment-card-interaction {
  display: flex;
  flex-direction: column;
}

.comment-card-creation {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#author {
  font-size: 1.3em;
  font-weight: bold;
  margin: 0;
}

#author-dp {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 5px;
  background-color: #080707;
}

.voting-comment {
  display: flex;
  flex-direction: row;
}

.voting-comment p {
  font-size: 9.5vh;
  font-style: italic;
  font-weight: 800;
  margin: 0;
  color: #412cff;
}

.voting-comment button {
  border: none;
  margin: 0;
  padding: 5px;
  background: none;
  font-size: 7.5vh;
  font-weight: 600;
  color: #fe4b72;
}

.voting-comment-text {
  display: flex;
  flex-direction: row;
  margin-top: -3vh;
}

@media only screen and (max-width: 390px) {
  .sorting-bar {
    display: flex;
    flex-direction: row;
    margin-right: auto;
    gap: 1vw;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vw;
    margin-bottom: 1vw;
    border-top: solid 2px rgba(255, 255, 255, 0.472);
    padding-top: 3vw;
  }

  .sorter button {
    background-color: white;
    font-weight: 700;
    font-size: 3.5vw;
    border: solid 1px #18131513;
    color: #181315;
    opacity: 80%;
    border-radius: 10px;
    padding: 5px 12px;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.06));
  }

  .sorter button:hover {
    opacity: 100%;
  }

  .topic-bar {
    flex-direction: row;
    gap: 1vw;
    position: static;
    margin-bottom: 3vw;
  }
  .single-topic-card-main {
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.06));
    border: solid 1px #18131512;
    padding: 7px;
    flex-direction: row;
    align-items: center;
  }

  .xs-topic-card-info-container {
    margin: 0;
  }

  #topic-title-main {
    font-size: 3.7vw;
    text-align: left;
    letter-spacing: normal;
    opacity: 80%;
    padding: 0;
    font-weight: 800;
    border-right: whitesmoke solid 1.5px;
    padding-right: 3px;
    margin-right: 3px;
  }

  .xs-stats-container {
    justify-content: center;
  }

  .xs-stats {
    padding: 0;
    flex-direction: row;
  }

  #xs-stats {
    font-size: 3.7vw;
    opacity: 90%;
    font-weight: 800;
  }

  #xs-stats-text {
    font-size: 4.1vw;
    text-align: center;
    font-weight: 800;
    margin-left: -6px;
    margin-top: -5px;
    font-style: italic;
    opacity: 80%;
  }

  .comment-form-container {
    margin: 5vw;
  }

  .comment-form-container button {
    font-size: 1em;
    margin: 5px;
    margin-right: 5px;
    padding: 8px 12px;
  }

  .comment-card-main {
    flex-direction: column;
  }

  .comment-card-body {
    font-size: 1em;
    line-height: 18px;
    padding: 5px;
    border-top: 1px solid whitesmoke;
  }

  #author {
    font-size: 4vw;
    font-weight: 600;
  }

  .voting-comment {
    justify-content: flex-end;
  }

  .comments-container {
    width: 80%;
  }

  .voting-comment-text button {
    font-size: 2.8em;
    margin-top: -25px !important;
    opacity: 85%;
  }

  .voting-comment-text {
    margin: 0;
    margin-left: -15px;
    margin-top: 15px;
  }

  .voting-value-comment p {
    font-size: 4em;
  }
}
