a {
  text-decoration: none !important;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: #080707; */
}

/* ______________________ TOP ARTILCES _______________________*/

.top-articles {
  overflow-y: scroll;
  margin-top: 15px;
}

.top-articles ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

.top-article-card {
  margin: 10px;
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 500px;
  padding: 5px;
}

.card-info {
  margin: 5px;
}

#top-title {
  font-size: 1.5em;
  font-weight: 700;
  opacity: 85%;
  margin-top: 5px;
  margin-bottom: 0;
  padding-left: 10px;
}

#topic {
  opacity: 40%;
  font-size: 1.3em;
  margin: 0;
  font-style: italic;
  font-weight: 700;
}

.engagement-container {
  display: flex;
  flex-direction: row;
}

.engagement {
  display: flex;
  flex-direction: row;
  margin: 5px;
}

#engagement {
  font-size: 2.5em;
  margin: 0;
  opacity: 100%;
  font-style: italic;
}

#engagement-text {
  font-size: 2em;
  font-style: italic;
  margin: 3px;
  opacity: 80%;
  font-weight: 600;
}

/* ________________________ SORTING ________________________ */

.sorting-bar {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-top: 2em;
}

.sorter {
  padding: 10px;
}

.sorter button {
  background: none;
  font-weight: 600;
  font-size: 2em;
  border: none;
  opacity: 80%;
}

/* ________________________ SORTING ________________________ */
.toggle-container {
  display: flex;
  flex-direction: column;
}

#toggle-comments {
  border: none;
  font-size: 3em;
  font-weight: 900;
  font-style: italic;
  padding: 1em;
  word-spacing: 5px;
  letter-spacing: 6px;
  background: none;
  margin-top: -2em;
  text-align: left;
  margin-left: 5em;
}

.comment-form-container {
  padding: 15px;
  width: 80%;
  margin: auto;
  border: solid 1px red;
}

.comment-form-container input {
  font-size: 1.5em;
  width: 80%;
  margin: auto;
}

.comments-container {
  padding: 20px;
  width: 70%;
  margin: auto;
}

.comments-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.comment-card {
  margin-bottom: 1em;
  border-bottom: 1px black solid;
  margin-right: 20px;
}

.comment-card-body {
  margin: 0;
  text-align: left;
  padding-top: 5px;
  padding-left: 0;
}

.comment-card-creation {
  display: flex;
  flex-direction: row;
}

#author {
  font-size: 1.1em;
  font-weight: bold;
}

#author-dp {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  margin: 10px;
  background-color: #080707;
}

.voting-comment {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 10px;
}

.voting-comment p {
  font-size: 2.5em;
  font-style: italic;
  font-weight: bolder;
  margin: 0;
}

.voting-comment button {
  border: none;
  margin: 0;
  padding: 5px;
  background: none;
  font-size: 2em;
}
