a {
  text-decoration: none !important;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* background-color: #404031; */
  background-color: #080707;
}

.top-articles {
  overflow-y: scroll;
  margin-bottom: 5em;
}

.top-article-card {
  border: solid 1px #181315;
  background-color: #181315;
  width: 100%;
  margin: 5px;
  border-left: 13px solid #412cff;
}

.top-article-card p {
  text-decoration: none;
  color: white;
  font-weight: 700;
  padding: 0;
  margin-right: 5px;
  margin-left: 15px;
  opacity: 50%;
}

#top-title {
  font-size: 1.8em;
  font-style: italic;
  font-weight: 800;
  color: #412cff;
  opacity: 85%;
  margin-top: 0;
}

#topic {
  color: #412cff;
  opacity: 50%;
  font-size: 1.5em;
  margin: 10px;
}

.engagement-container {
  display: flex;
  flex-direction: row;
  padding: 10px;
  width: 20%;
  gap: 20px;
}

.engagement {
  display: flex;
  flex-direction: row;
}

.engagement p {
  margin: auto;
}

#engagement {
  font-size: 3em;
  margin: 0;
  color: #412cff;
  opacity: 100%;
  font-style: italic;
}

#engagement-text {
  font-size: 2em;
  font-style: italic;
  margin: 3px;
  color: #412cff;
  opacity: 80%;
  font-weight: 600;
}

#trending-title {
  font-size: 5em;
  font-weight: 800;
  color: #181315;
  font-style: italic;
  padding-left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0;
}

.top-articles ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 200%;
  gap: 5em;
}

.top-articles li {
  margin: auto;
}

.creation {
  padding: 1em;
  margin-top: -1em;
}

.creation p {
  text-align: right;
  font-size: 1.8em;
  margin: 0;
  margin-right: 15em;
  font-weight: 700;
  font-style: italic;
  color: #412cff;
  letter-spacing: 2px;
}

#date {
  padding-right: 10px;
  opacity: 30%;
}

@media screen and (min-width: 500px) {
  .topics-container {
    display: flex;
    flex-direction: column;
    margin-right: 2em;
    width: 100%;
  }

  .topics-container ul {
    padding: 10px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 3.3em;
  }

  .topics-container li {
    font-size: 1.7em;
    font-weight: 700;
    font-style: italic;
    color: white;
    padding: 5px;
    text-align: center;
    background-color: black;
    position: relative;
  }

  .main-container {
    display: flex;
    flex-direction: column;
  }

  .all-articles ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: column wrap;
    align-content: space-around;
    height: 5000px;
    overflow: hidden;
  }

  .all-articles li:nth-child(4n + 1) {
    order: 1;
  }
  .all-articles li:nth-child(4n + 2) {
    order: 2;
  }
  .all-articles li:nth-child(4n + 3) {
    order: 2;
  }
  .all-articles li:nth-child(4n) {
    order: 4;
  }

  .article-card {
    width: 330px;
  }

  .gen-grid {
    width: 320px !important;
    height: 200px !important;
    margin-top: 3px;
  }

  #single-card-body {
    font-size: 2.4em !important;
    line-height: 44px !important;
    padding-right: 0.5em;
    padding-left: 0.5em;
    float: left;
    position: relative;
  }

  #single-title {
    font-size: 4.5em !important;
    line-height: 80px !important;
  }

  .single-article {
    margin-left: 6em;
    margin-right: 3em;
  }

  .article-heading-container {
    margin-top: 5em;
    width: 70%;
    margin-bottom: 4em;
    display: flex;
    flex-direction: column;
  }

  .article-body-container {
    display: inline-block;
    margin-top: 4em;
  }

  #single-article-card-topic {
    padding-left: 2em;
  }

  .voting-text {
    font-size: 1.5em;
  }

  .comment-card-body {
    font-size: 1.7em !important;
  }
}

.all-articles-container {
  display: flex;
  flex-direction: column;
}

#single-card-body {
  width: 68%;
  text-align: left;
}

.sorting {
  display: flex;
  flex-direction: row-reverse;
  background: #181315;
  height: 65px;
  margin-bottom: 3em;
}

.sorter {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.sorter img {
  height: 100%;
  width: auto;
  margin: auto;
  padding-right: 10px;
}

.sorting button {
  background-color: #181315;
  font-weight: 600;
  font-size: 1.6em;
  height: 50%;
  border: none;
  color: #412cff;
  margin: auto;
  margin-top: 2px;
  letter-spacing: 1px;
  font-style: italic;
  margin-right: 1em;
  opacity: 50%;
}

/* *******  */
.single-topic-card {
  margin-top: 8em;
  background-color: #181315;
  display: flex;
  flex-direction: column;
  border-top: 10px solid #412cff;
  width: 25%;
  position: relative;
  float: right;
  border-radius: 5px;
}

.single-topic-card button {
  font-size: 1em;
  margin: auto;
  border: none;
  background-color: white;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 0.8em;
  color: #412cff;
  text-decoration: underline;
  width: 60%;
}

.single-topic-card p {
  text-decoration: none;
  color: #412cff;
  font-size: 1.5em;
  opacity: 85%;
}

#topic-title {
  font-size: 1.8em;
  font-weight: 700;
  text-align: right;
  font-style: italic;
  padding-right: 1em;
}

#topic-description {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: -1em;
  text-align: right;
  padding-right: 1.4em;
  opacity: 55%;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 1em;
  gap: 3em;
}

.topic-count {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 5px;
}

.topic-votes {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 5px;
}

#stats {
  font-size: 3.5em;
  font-style: oblique;
  font-weight: bolder;
  margin: 0;
  padding: 0;
  text-align: left;
  color: #412cff;
}

#stats-text {
  font-size: 2.1em;
  margin: 0;
  padding-top: 3px;
  font-style: italic;
  font-weight: bold;
  color: #412cff;
  opacity: 50%;
}

.all-articles {
  display: flex;
  flex-direction: column;
}

.all-articles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.all-articles li {
  padding: 10px;
}

.article-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-card {
  display: flex;
  flex-direction: column;
  color: white;
  border: 0.5px solid #181315;
  background-color: #181315;
  padding-bottom: 12px;
  border: #181315c7 5px solid;
}

#article-card-topic {
  text-align: left;
  margin: 0;
  padding-left: 1em;
  padding-top: 1em;
  font-weight: bold;
  font-size: 1.3em;
  color: #412cff;
  opacity: 50%;
}

#title {
  margin: 0;
  padding: 10px;
  font-size: 2.5em;
  font-style: italic;
  font-weight: bolder;
  padding-left: 20px;
  color: #412cff;
  opacity: 85%;
  padding-bottom: 25px;
}

#single-author {
  text-decoration: underline;
}

.single-article-card ul {
  padding: 0;
  margin: auto;
}

.single-article {
  display: flex;
  flex-direction: column;
}

.single-article-card {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#single-article-card-topic {
  text-align: left;
  font-weight: bold;
  color: #181315;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 2px;
}

#single-title {
  text-align: left;
  margin: 0;
  padding: 10px;
  font-weight: 700;
  word-spacing: 4px;
  line-height: 35px;
  letter-spacing: 1px;
  color: #412cff;
  font-size: 6em !important;
  opacity: 75%;
}

#single-card-body {
  font-size: 1.8em;
  word-spacing: 3px;
  letter-spacing: 1px;
  line-height: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 1em;
  border-bottom: #181315 solid 8px;
  font-weight: 600;
  color: white;
  background-color: #181315;
  opacity: 80%;
}

.voting-comment {
  display: flex;
  flex-direction: row-reverse;
  gap: 1px;
  background-color: white;
  color: black;
  padding: 5px;
}

.voting-comment p {
  font-size: 2.5em;
  font-style: italic;
  font-weight: bolder;
  margin: 0;
}

.voting-comment-text {
  display: flex;
  flex-direction: row;
  margin: auto;
  gap: 3px;
}

.voting-comment-buttons {
  display: flex;
  flex-direction: row;
  gap: 0;
}

.voting-comment button {
  border: none;
  background-color: white;
  margin: 0;
  padding: 0;
  width: 30px;
}

.voting {
  display: flex;
  flex-direction: row;
  margin: 0;
  width: 30%;
  gap: 5px;
  margin-top: -1%;
}

.voting span {
  border: none;
  background-color: none;
  margin: auto;
  font-size: 3em;
  font-weight: 600;
  color: #412cff;
  opacity: 85%;
}

.voting-text {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  margin: auto 0 auto 0;
}

.voting p {
  font-size: 12em;
  font-style: italic;
  font-weight: bolder;
  margin: 0;
  color: #412cff;
}

.toggle-container {
  margin: 15px;
}

.comments-container {
  margin: 5px;
}

.comments-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 25px;
}

.comments-container li {
  padding: 0;
  margin: 0;
}

.comment-card {
  display: flex;
  flex-direction: column;
  padding-left: 5px;
  margin-left: 10px;
}

.comment-card-body {
  padding: 20px;
  font-size: 1em;
  font-weight: 500;
  background-color: black;
  color: white;
  width: 80%;
  margin: 0;
}

.comment-card-creation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
}

#author {
  font-size: 1.2em;
  font-weight: bolder;
  background-color: black;
  border: solid 1px black;
  color: white;
  margin: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 15px;
}

.toggle-container {
  margin: auto;
  padding-bottom: 1em;
  padding-top: 1em;
}

#toggle-comments {
  background-color: white;
  border: none;
  font-size: 1.3em;
  color: #3b3035;
  margin: auto;
  width: 99%;
  padding-bottom: 40px;
}

.comment-form-container {
  width: 83%;
  padding: 15px;
}

.comment-form-container input {
  width: 99%;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 1.5em;
  padding: 5px;
  border: none;
  opacity: 95%;
}
.comment-form-container legend {
  color: black;
  padding: 10px;
  font-size: 1.2em;
  font-weight: 700;
  font-style: italic;
}

#feildset {
  border: solid 1px #3b3035;
}

.comment-form-container button {
  background-color: black;
  color: white;
  font-size: 1.1em;
  border: none;
  padding: 10px;
  font-weight: 700;
  margin-top: 1em;
  border-radius: 5px;
}
