.all-articles-container {
  display: flex;
  flex-direction: column;
  margin: 0 3vw;
}

.all-articles {
  display: flex;
  flex-direction: row;
}

.all-articles ul {
  list-style: none;
  margin: 0 1vw;
  padding: 0;
  /* display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: max-content;
  justify-content: center; */
  column-count: 3;
}

.all-articles li {
  padding: 0.5vw 0;
  display: inline-block;
}

.article-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-card {
  display: flex;
  flex-direction: column;
  background-color: #181315;
  width: min-content;
  border-radius: 10px;
}

.card-info-main {
  margin: 0 1.5vw;
  margin-bottom: 1vw;
}

#article-card-topic {
  margin: auto;
  color: whitesmoke;
  font-size: 1.5vw;
  letter-spacing: 3px;
  font-weight: 700;
  opacity: 50%;
  text-align: left;
  font-style: italic;
}

#title {
  margin: auto;
  font-size: 2.1vw;
  font-weight: 700;
  color: whitesmoke;
  letter-spacing: -0.1px;
  text-decoration: underline;
  opacity: 80%;
}

#article-card-author {
  color: whitesmoke;
  font-weight: 600;
  opacity: 50%;
  margin: 10px 0;
  font-size: 1.5vw;
  text-align: left;
  font-style: italic;
}

@media only screen and (max-width: 390px) {
  .all-articles ul {
    display: flex;
    flex-direction: column;
    margin: 0;
    gap: 2vw;
  }

  .all-articles {
    flex-direction: column-reverse;
  }

  .article-card {
    flex-direction: row;
    width: fit-content;
  }

  .card-info-main {
    margin: 3vw 1.5vw;
  }

  #article-card-topic {
    font-size: 3.5vw;
    text-align: justify;
  }

  #title {
    font-size: 4.5vw;
    margin: auto;
    line-height: 5.1vw;
    text-decoration: none;
  }

  #article-card-author {
    font-size: 3.5vw;
    margin: 1vw;
  }
}
