.article-editor {
  margin-left: 3vw;
  margin-right: 3vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

#editor-title {
  font-size: 5vw;
  text-align: right;
  font-weight: 700;
  color: #181815;
  letter-spacing: 5px;
  font-style: italic;
}

#creator-info {
  font-size: 4.5vw;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 15px;
  word-spacing: -1px;
  padding-bottom: 10px;

  border-bottom: solid 5px rgba(255, 255, 255, 0.23);
}

.topic-options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border-bottom: solid 5px rgba(255, 255, 255, 0.23);
  padding-bottom: 10px;
}

.topic-options button {
  color: #181815;
  font-size: 5vw;
  font-weight: 700;
  font-style: italic;
  background-color: white;
  border: none;
  border-bottom: solid 2px whitesmoke;
  margin-bottom: 5px;
}

.topic-option {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.06));
}

.topic-option-active {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 5px 10px;
  border-radius: 5px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.06));
  border: solid 2px olive;
}

.topic-option-stats {
  display: flex;
  flex-direction: row;
}

.topic-option-stats p {
  margin: 0;
  font-style: italic;
}

#stat {
  font-size: 5vw;
  font-weight: 600;
  color: #412cff;
}

#stat-symbol {
  font-size: 4vw;
  color: #fe4b72;
  font-weight: 600;
  margin-left: -5px;
  margin-top: -5px;
}

.creator-stat-container {
  display: inline-flex;
}

.content-creator textarea {
  margin: 5px;
  border: none;
  border-radius: 5px;
  resize: none !important;
  padding: 10px;
  font-size: 1.5em;
  font-family: system-ui;
  font-weight: 600;
  color: #181815c7;
}

#new-title {
  height: 3.5vh;
}

#v-new-title {
  border: solid 2px olive;
}

#new-body {
  min-height: 30vh;
  overflow: hidden;
}

#v-new-body {
  border: solid 2px olive;
}

.content-creator form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5vh;
  padding: 5px;
}

.finishing-buttons {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding: 10px;
  justify-content: flex-end;
}

.finishing-buttons button {
  background-color: #181815;
  border: none;
  border-radius: 10px;
  font-size: 1.5em;
  padding: 8px 20px;
  color: whitesmoke;
  font-weight: 600;
  font-style: italic;
  opacity: 90%;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.06));
}
