#artwork {
  margin: auto;
}

.gen-grid {
  background-color: whitesmoke;
  width: 20vw;
  height: 15vw;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: solid 5px #181315;
  padding: 1vh;
  margin: 1vw;
}

.letters-artwork {
  z-index: 0;
  background-color: #181315;
  padding-bottom: 25vh;
}

.gen-grid-v2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  padding: 1vw;
}

.gen-grid-v2 p {
  font-weight: 800;
  font-size: 2.5vw;
  margin: auto;
  color: white;
}

#large {
  font-size: 3vw;
  opacity: 20%;
}
#xlarge {
  font-size: 5vw;
  opacity: 50%;
  font-style: italic;
  font-weight: 900;
}

.cell-1 {
  background-color: whitesmoke;
  border: solid 1px whitesmoke;
}

.cell-2 {
  background-color: #181315;
  border: solid 1px #181315;
}

.cell-3 {
  background-color: #181315;
  border: solid 1px #181315;
}

.cell-4 {
  background-color: #412cff;
  border: solid 1px #412cff;
}

#cell-45.cell-1,
#cell-45.cell-2,
#cell-46.cell-1,
#cell-46.cell-2,
#cell-47.cell-2,
#cell-47.cell-1,
#cell-57.cell-1,
#cell-57.cell-2,
#cell-58.cell-1,
#cell-58.cell-2,
#cell-59.cell-2,
#cell-59.cell-1,
#cell-71.cell-1,
#cell-71.cell-2,
#cell-72.cell-2,
#cell-72.cell-1,
#cell-73.cell-1,
#cell-73.cell-2 {
  background-color: #412cff;
  border: 1px solid #412cff;
  opacity: 100%;
}

@media only screen and (max-width: 390px) {
  .gen-grid {
    width: 30vw;
    height: 25vw;
    margin: 3vw;
    margin-right: 1.5vw;
    border: none;
    border-radius: 3px;
  }
}
