#artwork {
  margin: auto;
}

.gen-grid {
  background-color: white;
  width: 270px;
  height: 200px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: solid 2px white;
  gap: 0;
  padding: 15px;
  margin-top: 25px;
}

.letters-artwork {
  /* position: fixed; */
  right: 0;
  margin-right: 3em;
  z-index: 0;
  padding: 1em;
}

.gen-grid-v2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 5px;
}

.gen-grid-v2 span {
  font-weight: 600;
  text-align: center;
  font-size: 3em;
  color: #412cff;
  font-style: italic;
  opacity: 10%;
  padding-left: 5px;
  padding-top: 5px;
}

.gen-grid span {
  color: black;
  font-weight: 900;
}

#cell-1 {
  background-color: #181315;
  border: solid 1px #181315;
  opacity: 98%;
}

#cell-2 {
  background-color: #181315;
  border: solid 1px #181315;
  opacity: 98%;
}

#cell-3 {
  background-color: white;
  border: solid 1px white;
}
