#artwork {
  margin: auto;
}

@media only screen and (max-width: 390px) {
  .gen-grid-top {
    display: none !important;
  }
  .gen-grid-v2 {
    font-size: 10px !important;
  }
}

.gen-grid {
  background-color: whitesmoke;
  width: 250px;
  height: 180px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border: solid 2px whitesmoke;
  gap: 0;
  padding: 15px;
  margin-top: 25px;
}

.gen-grid-top {
  width: 280px;
  height: 220px;
  margin: auto;
  margin-top: 20px;
  padding: 15px;
  background-color: whitesmoke;
  border: solid 2px whitesmoke;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 0;
}

.letters-artwork {
  z-index: 0;
  width: 50%;
  margin-top: 5em;
  margin-left: 3em;
}

.gen-grid-v2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 70%;
}

.gen-grid-v2 span {
  font-weight: 900;
  text-align: center;
  font-size: 2em;
  font-style: italic;
  opacity: 5%;
  padding: 0;
  color: #181315;
}

#large {
  font-size: 2.5em;
  opacity: 10%;
  padding: 5px;
}

.gen-grid span {
  color: black;
  font-weight: 900;
}

#cell-1 {
  background-color: #181315;
  border: solid 1px #181315;
  opacity: 98%;
}

#cell-2 {
  background-color: #181315;
  border: solid 1px #181315;
  opacity: 98%;
}

#cell-3 {
  background-color: whitesmoke;
  border: solid 1px whitesmoke;
}
