@media only screen and (max-width: 390px) {
  .nav-container {
    width: 100vw !important;
    background-color: whitesmoke;
    margin: 0 !important;
    z-index: 100;
    border-top: solid 5px #181815;
    bottom: 0;
    padding-bottom: 5px;
  }

  .nav {
    flex-direction: row !important;
    justify-content: center;
    gap: 5em !important;
    padding: 10px;
  }
}

.nav-container {
  width: 100%;
  position: fixed;
  width: auto;
  margin-top: 2em;
  margin-left: 2em;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

/* .nav-item p {
  font-weight: 700;
  font-style: italic;
  color: #181818;
  opacity: 0%;
  letter-spacing: 5px;
}

.nav-item p:hover {
  opacity: 20%;
} */

.nav img {
  opacity: 25%;
  filter: grayscale();
}

.nav-item:hover img {
  opacity: 100%;
}
