@media only screen and (max-width: 390px) {
  .nav-container {
    z-index: 200;
    bottom: 0;
    right: 0;
    position: fixed;
    padding: 20px 10px;
    margin: auto !important;
  }

  .nav {
    flex-direction: row !important;
    background-color: whitesmoke;
    border-radius: 50px;
    gap: 0 !important;
    filter: drop-shadow(0 0 10px #0003);
  }

  .nav-item {
    padding: 15px 20px;
  }

  .nav img {
    width: 40px !important;
  }

  .nav-item:hover img {
    opacity: 25% !important;
  }
}

.nav-container {
  width: 100%;
  position: fixed;
  width: auto;
  margin-top: 2em;
  margin-left: 2em;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.nav-item {
  display: flex;
  flex-direction: column;
}

/* .nav-item p {
  font-weight: 700;
  font-style: italic;
  color: #181818;
  opacity: 0%;
  letter-spacing: 5px;
}

.nav-item p:hover {
  opacity: 20%;
} */

.nav img {
  opacity: 25%;
  filter: grayscale();
}

.nav-item:hover img {
  opacity: 100%;
}
