@media only screen and (max-width: 390px) {
  .single-article-card {
    margin: 0 1em !important;
  }

  .single-article {
    margin: 0 1em !important;
  }

  .letters-artwork {
    margin: 1em !important;
    margin-top: 3em !important;
    width: 100% !important;
  }

  .article-heading-container {
    margin-left: 0 !important;
    margin-top: -28em !important;
    width: 100% !important;
  }

  #single-article-card-topic {
    font-size: 1.5em !important;
    opacity: 50% !important;
    color: #181315 !important;
    margin: 10px !important;
    margin-top: 1em !important;
    letter-spacing: 10px !important;
  }

  #single-title {
    font-size: 3.5em !important;
    line-height: 50px !important;
    word-spacing: 10px !important;
    letter-spacing: normal !important;
  }

  .creation {
    margin: auto !important;
    margin-top: 1em !important;
  }

  .creation p {
    font-size: 1.4em !important;
  }

  .single-topic-card {
    display: none !important;
  }

  .voting {
    margin: 0 !important;
    padding: 0 !important;
    margin-right: 1em !important;
    margin-top: 1em !important;
  }

  .voting-value p {
    font-size: 6em !important;
  }

  .voting-text {
    font-size: 1em !important;
  }

  #toggle-comments {
    font-size: 1.5em;
    margin: 1em !important;
    padding: 0 !important;
    text-align: center !important;
  }

  .article-body-container {
    margin-top: 2em !important;
  }

  #single-card-body {
    margin: 0 !important;
    width: 100% !important;
    font-size: 1.8em !important;
  }

  .toggle-container {
    margin-bottom: 6em !important;
    margin-top: -5px !important;
  }

  .comment-form-container {
    margin: 0 !important;
    margin-bottom: 1em !important;
  }

  .comment-form-container input {
    width: 350px !important;
    margin: auto !important;
  }
  .comments-container {
    margin: auto !important;
    width: 88% !important;
  }

  .comment-card-body {
    font-size: 1.5em !important;
  }

  .voting-comment {
    justify-content: flex-end !important;
  }

  .voting-comment p {
    font-size: 3em !important;
  }
}

.single-article-card {
  display: flex;
  flex-direction: column;
  margin-left: 7em;
  margin-right: 7em;
  margin-top: 1em;
}

.single-article {
  display: flex;
  flex-direction: column;
}

.article-heading-container {
  display: flex;
  flex-direction: column;
  margin-left: 14em;
  margin-top: -35em;
  width: 70%;
}

#single-title {
  text-align: left;
  margin: 0;
  font-weight: 700;
  word-spacing: 15px;
  line-height: 85px;
  letter-spacing: 8px;
  font-size: 6em;
  color: #181315;
}

#single-author {
  text-decoration: underline;
}
.creation {
  display: flex;
  flex-direction: column;
  margin-right: 12em;
}

.creation p {
  text-align: right;
  font-size: 1.6em;
  margin: 0;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 2px;
  color: #181315;
  opacity: 50%;
}

#single-card-body {
  font-weight: 500;
  font-size: 2em;
  width: 65%;
  padding-left: 0;
  margin-top: 5em;
}

#single-card-body-bold {
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

#single-article-card-topic {
  text-align: right;
  font-weight: 800;
  color: white;
  font-size: 2.5em;
  font-style: italic;
  letter-spacing: 15px;
  margin-right: 2em;
}

.single-article {
  margin-left: 3em;
  margin-right: 3em;
}

.article-body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5em;
}

#single-article-card-topic {
  padding-left: 2em;
}

.comment-card-body {
  font-size: 1.7em;
}

.single-topic-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 22%;
  position: sticky;
  top: 55px;
  border-radius: 5px;
  max-height: 540px;
  margin-left: 5em;
  margin-top: 3em;
  padding-left: 1em;
  margin-bottom: 5em;
}

.single-topic-card button {
  font-size: 1.2em;
  margin: auto;
  border: none;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 1em;
  width: 75%;
  background-color: #181315;
  color: whitesmoke;
}

#topic-topper {
  background-color: #181315;
  margin-top: -33px;
  margin-left: -16px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 1px;
  padding-left: 10px;
}

#topic-title {
  font-size: 2em;
  font-weight: 700;
  text-align: right;
  font-style: italic;
  padding-right: 1em;
  color: whitesmoke;
  opacity: 80%;
}

#topic-description {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: -1em;
  text-align: right;
  padding-right: 1.3em;
  opacity: 50%;
  color: whitesmoke;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#stats {
  font-size: 4em;
  font-style: italic;
  font-weight: 800;
  margin: auto;
  text-align: center;
  color: #181315;
  opacity: 80%;
}

#stats-text {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  color: #181315;
  opacity: 50%;
  margin: auto;
}

.voting-text {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 1em;
}

.voting {
  display: flex;
  flex-direction: row;
  padding-right: 5em;
  justify-content: flex-end;
  width: auto;
  margin-top: -3em;
  margin-right: 8em;
  padding-bottom: 1em;
}

#v-text-neg {
  padding-bottom: 25px;
  font-weight: 600;
  margin: auto;
}

.voting-text button {
  border: none;
  font-size: 5em;
  font-weight: 600;
  background: none;
  opacity: 80%;
  color: #181315;
  margin: auto;
}

.voting p {
  font-size: 14em;
  font-style: italic;
  font-weight: bolder;
  margin: 0;
  color: #181315;
  font-weight: 900;
}
