.single-article-card {
  display: flex;
  flex-direction: column;
  margin-left: 5em;
  margin-right: 5em;
  margin-top: 1em;
}

.single-article {
  display: flex;
  flex-direction: column;
}

.article-heading-container {
  display: flex;
  flex-direction: column;
  margin-left: 15em;
  margin-top: -37em;
}

#single-title {
  text-align: left;
  margin: 0;
  font-weight: 700;
  word-spacing: 15px;
  line-height: 75px;
  letter-spacing: 5px;
  font-size: 5em;
}

#single-author {
  text-decoration: underline;
}
.creation {
  display: flex;
  flex-direction: column;
  margin-right: 12em;
}

.creation p {
  text-align: right;
  font-size: 1.6em;
  margin: 0;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 2px;
  color: #181315;
  opacity: 55%;
}

#single-card-body {
  font-weight: 500;
  font-size: 2em;
  width: 65%;
  padding-left: 0;
  margin-top: 5em;
}

#single-card-body-bold {
  font-weight: 600;
  font-size: 1.3em;
  text-align: center;
  font-style: italic;
  padding: 10px;
}

#single-article-card-topic {
  text-align: right;
  font-weight: bold;
  color: #181315;
  font-size: 2em;
  font-style: italic;
  letter-spacing: 15px;
  opacity: 30%;
  margin-right: 2em;
}

.single-article {
  margin-left: 3em;
  margin-right: 3em;
}

.article-body-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5em;
}

#single-article-card-topic {
  padding-left: 2em;
}

.voting-text {
  font-size: 1.5em;
}

.comment-card-body {
  font-size: 1.7em !important;
}

.single-topic-card {
  background-color: white;
  display: flex;
  flex-direction: column;
  border-top: 10px solid #181315;
  width: 22%;
  position: sticky;
  top: 15px;
  border-radius: 5px;
  max-height: 520px;
  margin-left: 5em;
  margin-bottom: 5em;
  margin-top: 3em;
  padding-left: 1em;
  padding-right: ;
}

.single-topic-card button {
  font-size: 1.2em;
  margin: auto;
  border: none;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  border-radius: 5px;
  margin-bottom: 1em;
  margin-top: 1em;
  width: 75%;
  background-color: #181315;
  color: white;
}

.single-topic-card p {
  text-decoration: none;
  color: black;
  font-size: 1.5em;
  opacity: 85%;
}

#topic-title {
  font-size: 1.8em;
  font-weight: 700;
  text-align: right;
  font-style: italic;
  padding-right: 1em;
}

#topic-description {
  font-size: 1.3em;
  font-weight: 500;
  margin-top: -1em;
  text-align: right;
  padding-right: 1.4em;
  opacity: 55%;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 2em;
  padding: 13px;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#stats {
  font-size: 4em;
  font-style: oblique;
  font-weight: bolder;
  margin: auto;
  text-align: center;
  color: black;
}

#stats-text {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  color: black;
  opacity: 55%;
  margin: auto;
}

.voting {
  display: flex;
  flex-direction: row;
  padding-right: 5em;
  justify-content: flex-end;
  width: auto;
  margin-top: -3em;
  margin-right: 8em;
  padding-bottom: 1em;
}

.voting-text button {
  border: none;
  font-size: 4.5em;
  font-weight: 600;
  background: none;
  margin-top: 20px;
  opacity: 80%;
}

.voting-text {
  font-style: italic;
}

.voting p {
  font-size: 14em;
  font-style: italic;
  font-weight: bolder;
  margin: 0;
}
