.single-article-card {
  display: flex;
  flex-direction: column;
}

.article-heading-container {
  display: flex;
  flex-direction: column;
  background-color: whitesmoke;
  border-top-left-radius: 10vw;
  border-top-right-radius: 10vw;
  z-index: 100;
  margin-top: -20vh;
}

#single-title {
  font-size: 5.5vw;
  font-weight: 800;
  text-align: center;
  margin: auto;
  width: 70%;
  font-style: italic;
  font-variant: small-caps;
  margin-top: 15vh;
}

#single-author {
  margin: auto;
  font-style: italic;
  font-weight: 800;
  font-size: 2.8vw;
}

.creation {
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
  margin-top: 2vh;
  gap: 1vh;
  font-variant: small-caps;
}

.creation p {
  text-align: center;
  font-size: 2vw;
  margin: auto;
  font-weight: 600;
  letter-spacing: 1px;
  color: #181315;
  opacity: 30%;
  font-weight: 700;
}

#single-card-body {
  color: #181315;
  font-weight: 600;
  font-size: 2.8vw;
  letter-spacing: 0.5px;
  word-spacing: 2px;
  text-align: left;
  margin: 0 1vw;
  line-height: 5vh;
}

#single-card-body-bold {
  font-weight: 700;
  font-size: 3.2vw;
  font-style: italic;
  line-height: 5.5vh;
  letter-spacing: 1px;
  word-spacing: -3px;
  margin: 4vh;
  text-align: center;
  border-left: solid 5px #181315;
  border-right: solid 5px #181315;
  padding: 2vw;
}

#single-article-card-topic {
  text-align: right;
  font-weight: 700;
  font-size: 2.5em;
  font-style: italic;
  letter-spacing: 25px;
  opacity: 7%;
  display: none;
}

.single-article {
  display: flex;
  flex-direction: column;
}

.article-body-container {
  display: flex;
  flex-direction: column;
  margin: 0 3vw;
  width: fit-content;
}

.main-body-container {
  display: flex;
  flex-direction: row;
  margin: 0 5vw;
}

#single-article-card-topic {
  padding-left: 2em;
}

.single-topic-card {
  background-color: rgba(255, 255, 255, 0.938);
  display: flex;
  flex-direction: column;
  width: 27%;
  position: sticky;
  top: 55px;
  border-radius: 5px;
  max-height: 540px;
  margin-left: 3em;
  margin-top: 3em;
  padding-left: 1em;
  margin-bottom: 5em;
  padding-bottom: 1.5em;
}

.single-topic-card button {
  font-size: 1.2em;
  margin: auto;
  border: none;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 600;
  border-radius: 5px;
  margin-top: 1em;
  width: 75%;
  background-color: #181315;
  color: whitesmoke;
}

#topic-topper {
  background-color: #181315;
  margin-top: -33px;
  margin-left: -16px;
  padding-bottom: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-top: 1px;
  padding-left: 20px;
}

#topic-title {
  font-size: 2.1em;
  font-weight: 700;
  text-align: right;
  font-style: italic;
  padding-right: 1em;
  color: whitesmoke;
  opacity: 80%;
}

#topic-description {
  font-size: 1.5em;
  font-weight: 500;
  margin-top: -1em;
  text-align: right;
  padding-right: 1.3em;
  opacity: 50%;
  color: whitesmoke;
}

.stats-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1.5em;
}

.stats {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

#stats {
  font-size: 4em;
  font-style: italic;
  font-weight: 800;
  margin: auto;
  text-align: center;
  color: #181315;
  opacity: 80%;
}

#stats-text {
  font-size: 2em;
  font-style: italic;
  font-weight: bold;
  color: #181315;
  opacity: 50%;
  margin: auto;
}

.voting-text {
  display: flex;
  flex-direction: row;
  margin-top: -15vh;
}

.voting {
  display: flex;
  flex-direction: row;
  padding-right: 5em;
  justify-content: flex-end;
  width: auto;
  margin-top: -1em;
  margin-right: 5em;
  padding-bottom: 1em;
}

#v-text-neg {
  padding-bottom: 25px;
  font-weight: 600;
  margin: auto;
}

.voting-text button {
  border: none;
  font-size: 10vw;
  font-weight: 800;
  background: none;
  margin: auto;
  color: #fe4b72;
}

.voting p {
  font-size: 15vw;
  font-style: italic;
  font-weight: 900;
  margin: 0;
  color: #181315;
  font-weight: 900;
  letter-spacing: -2px;
  color: #412cff;
}

@media only screen and (max-width: 390px) {
  .article-heading-container {
    margin-top: -55vw;
  }

  .main-body-container {
    margin: 0 2vw;
  }

  #single-title {
    padding: auto;
    margin: auto;
    font-size: 15vw;
    line-height: 12vw;
    padding-top: 15vw;
  }

  #single-author {
    font-size: 8vw;
  }
  #date {
    font-size: 4.5vw;
  }

  .single-topic-card {
  }

  .creation {
    margin-bottom: 15vw;
  }

  .article-body-container {
    border-top: solid 2px #18131510;
    padding-top: 5vw;
    float: left;
  }

  .article-body-container p:last-child {
    font-size: 4vw !important;
    text-align: left !important;
    line-height: 18px !important;
    font-weight: 500 !important;
  }

  #single-card-body {
    font-size: 5vw;
    line-height: 6vw;
    text-align: center;
  }

  #single-card-body::first-letter {
    font-size: 7vw;
  }

  #single-card-body-bold {
    font-size: 9vw;
    margin: 4vw 5vw;
    border: none;
    line-height: 30px;
  }

  .voting {
    margin: auto;
    padding: 0;
  }

  .voting-text {
    margin: auto;
  }

  #toggle-comments {
    margin: auto;
    padding: 5vw;
    font-size: 1.5em;
  }
}
