#topper-title {
  letter-spacing: 20px;
  color: #181315;
  font-size: 3vw;
  font-style: italic;
  opacity: 10%;
  text-align: right;
  padding-right: 5vw;
  font-weight: 800;
  margin-bottom: -2vw;
}

.big-top-article-card {
  margin: 1.5vw;
  background: #181315;
  padding: 0.5vw 1vw;
  border-radius: 10px;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.06));
  width: min-content;
}

.top-article-card {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.06));
  background-color: rgba(255, 255, 255, 0.465);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 1.5vw;
  width: fit-content;
}

.top-line {
  display: flex;
}

.top-articles {
  display: flex;
  flex-direction: row;
  margin: 2vw 10vw;
  align-items: center;
}

.card-info-big {
  margin: 1vw;
  font-size: 1.5vw;
  color: whitesmoke;
}

.card-info {
  font-size: 1vw;
  color: #181315;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#top-snippet {
  font-size: 2.5vw;
  font-weight: 600;
  opacity: 50%;
  margin: auto;
  line-height: 2.5vw;
  letter-spacing: -0.1px;
  padding: 0.5vw 0;
  font-style: italic;
  hyphens: auto;
}

#xs-top-snippet {
  font-size: 1.9vw;
  font-weight: 600;
  letter-spacing: -0.1px;
  font-style: italic;
  margin: auto;
  word-spacing: -1px;
  line-height: 2vw;
  color: #181315;
}

.top-articles ul {
  list-style: none;
  padding: 0;
  margin: 1vw 0;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr;
  gap: 20px; */
  column-count: 2;
  column-gap: 1vw;
}

.top-articles li {
  padding: 0;
  margin: 0;
  margin-bottom: 1vw;
  break-inside: avoid;
}

#top-title {
  font-size: 1.8em;
  font-weight: 700;
  opacity: 80%;
  margin: auto;
  text-decoration: underline;
}

#top4-title {
  font-size: 1.5vw;
  font-weight: 600;
  opacity: 70%;
  text-decoration: underline;
  margin: 0;
  color: #181315;
}

#top-article-card-author {
  color: whitesmoke;
  font-weight: 600;
  opacity: 30%;
  font-size: 2vw;
  margin: 5px 0;
  font-style: italic;
}

#topic {
  display: none;
}

#top4-article-card-author {
  color: #181315;
  margin: 0;
  font-size: 1.5vw;
  font-style: italic;
  font-weight: 600;
  opacity: 50%;
  padding: 5px 0;
}

.engagement {
  display: flex;
  flex-direction: row;
  color: white;
  margin: 0 auto 0 0;
}

.engagement-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-sizing: border-box;
  width: min-content;
  margin: auto;
}

.top4-engagement-container {
  display: flex;
  flex-direction: row;
}

.top4-engagement {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.top4-engagement-score {
  display: flex;
  flex-direction: row;
  margin: auto;
}

.engagement-score {
  grid-column-start: 2;
  grid-row-start: 1;
  grid-row-end: end;
  display: flex;
  flex-direction: row;
  color: #412cff;
  margin: auto auto auto -3vw;
}

#engagement {
  font-style: italic;
  font-size: 5vw;
  margin: auto;
  font-weight: 800;
  color: #412cff;
}

#engagement-text {
  font-style: italic;
  font-size: 4vw;
  margin: auto;
  font-weight: 900;
  margin-top: -1vw;
  margin-left: -1.5vw;
  color: #fe4b72;
  opacity: 80%;
}

#engagement-score {
  font-style: italic;
  font-size: 8vw;
  margin: auto;
  font-weight: 700;
}

#engagement-text-score {
  font-style: italic;
  font-size: 6vw;
  font-weight: 900;
  margin: auto;
  margin-top: -1vw;
  z-index: 200;
  margin-left: -2vw;
  color: #fe4b72;
  letter-spacing: -10px;
  opacity: 90%;
}

#xs-engagement {
  font-style: italic;
  font-size: 4vw;
  margin: auto;
  font-weight: 800;
  color: #181315;
}

#xs-engagement-text {
  font-style: italic;
  font-size: 3vw;
  margin: auto;
  font-weight: 900;
  color: #fe4b72;
  margin-top: -1vw;
  margin-left: -1.2vw;
}

#xs-engagement-score {
  font-style: italic;
  font-size: 5vw;
  margin: 0 auto;
  font-weight: 800;
  color: #412cff;
}

#xs-engagement-text-score {
  font-style: italic;
  font-size: 4vw;
  font-weight: 900;
  color: #fe4b72;
  margin: -1vw auto 0 -1.5vw;
}

@media only screen and (max-width: 390px) {
  .top-articles {
    gap: 1vw;
    margin: 5vw 3vw;
  }

  .top-articles ul {
    columns: 1;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
  }

  .top-articles li:last-child {
    display: none;
  }

  /* .top-articles li:nth-last-child(2) {
    display: none;
  } */

  .card-info-big {
    font-size: 3.5vw;
  }

  #top-article-card-author {
    font-size: 3.8vw;
    display: none;
  }

  #top-snippet {
    font-size: 5.3vw;
    line-height: 5.5vw;
    font-weight: 500;
  }

  #top-title {
    font-size: 1.82em;
    padding-bottom: 10px;
    line-height: 25px;
    font-weight: 600;
  }

  .top-article-card {
    min-width: fit-content;
    padding: 2vw;
    border-radius: 5px;
  }

  .big-top-article-card {
    width: fit-content;
    padding: 2.8vw;
    border-radius: 5px;
  }

  #top4-title {
    font-size: 3.2vw;
    padding-bottom: 5px;
    line-height: 11px;
    font-weight: 500;
    text-decoration: none;
  }

  #top4-article-card-author {
    display: none;
  }

  #xs-top-snippet {
    font-size: 3.2vw;
    line-height: 3.1vw;
    font-weight: 400 !important;
  }

  #engagement {
    font-size: 9vw;
  }

  #engagement-text {
    font-size: 7.5vw;
  }

  #engagement-score {
    font-size: 15vw;
    margin-left: -10px;
  }

  #engagement-text-score {
    font-size: 12vw;
  }

  #xs-engagement {
    font-size: 5vw;
  }

  #xs-engagement-text {
    font-size: 5vw;
  }

  #xs-engagement-score {
    font-size: 6.5vw;
  }

  #xs-engagement-text-score {
    font-size: 6vw;
  }
}
