a {
  text-decoration: none !important;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.all-articles-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.topic-button-container {
  display: flex;
  flex-direction: row;
  padding: 5px;
}

.topic-button-container button {
  margin: auto;
}

.all-articles {
  display: flex;
  flex-direction: column;
}

.all-articles ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.all-articles li {
  padding: 10px;
}

.article-card ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.article-card {
  display: flex;
  flex-direction: column;
  color: black;
  border: solid 1px black;
}

.single-article-card ul {
  padding: 0;
  margin: auto;
}

.single-article {
  display: flex;
  flex-direction: column;
}

.single-article-card {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

#single-title {
  font-size: 2em;
  text-align: left;
}

#single-card-body {
  font-size: 1.5em;
  text-align: left;
  letter-spacing: 1px;
  word-spacing: 3px;
  line-height: 30px;
  margin: 10px;
}

.creation {
  display: flex;
  flex-direction: row;
}

#single-article-card-topic {
  text-align: left;
}

.voting {
  display: flex;
  flex-direction: row;
  margin: 15px;
}

.toggle-container {
  margin: 15px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.comments-container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.comments-container li {
  padding: 0;
  margin: 0;
}

.comment-card {
  background-color: #756069;
  padding: 10px;
}

#toggle-comments {
  width: 50%;
}

/* 
.nav-container {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  background-color: #756069;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 30px;
  padding-left: 15px;
  transition: 0.5s;
}

.main {
  transition: margin-left 1s;
  padding: 20px;
}

.nav-container:hover {
  width: 250px;
}

.nav-container:hover .nav-item {
  visibility: visible;
}

.nav-container:hover img {
  opacity: 100%;
  transition: 0.5s;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: nowrap;
  height: 100%;
} */

/* .nav-item {
  font-size: 2em;
  text-decoration: none;
  transition: 0.3s;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr;
  gap: 20px;
  row-gap: 100px;
}

.nav-item:hover p {
  opacity: 100%;
  transition: 0.5s;
}

.nav-item img {
  margin: auto;
  opacity: 50%;
}

.nav-item p {
  margin: auto;
  color: white;
  opacity: 50%;
}

#nav-text {
  text-decoration: none !important;
} */
