a {
  text-decoration: none !important;
}

body {
  background: #e0dbe5;
}

.App {
  display: flex;
  flex-direction: row;
}

.all-articles ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  justify-content: space-evenly;
}

.article-card ul {
  list-style: none;
}

.article-card {
  padding: 10px;
  width: 500px;
  display: flex;
  flex-direction: column;
  margin: 10px;
  color: #452647;
  border: solid 1px #756069;
}

@media only screen and (min-width: 375px) {
  .article-card {
    width: 350px;
  }
}

#title {
  font-size: 1.6em;
  text-align: left;
  padding: 0;
  margin: 0;
}

.article-card-topic {
  text-align: left;
  padding: 0;
  margin: 0;
  color: #756069;
}

#creation {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  text-align: center;
}

#engagment {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 2fr;
  text-align: center;
}

.all-articles {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-left: 3em;
}

.topic-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 30%;
  margin: auto;
  padding: 5px;
}

.topic-button-container button {
  padding-left: 10px;
  padding-right: 10px;
  margin: auto;
  background: none;
  border: none;
  font-size: 1.1em;
}

button:hover {
  background: #e0dbe5;
}

.single-article-card {
  margin: auto;
  padding: 10px;
  width: 90%;
}

#single-title {
  font-size: 4em;
  text-align: left;
  margin: 0.5em;
}

.single-card-body {
  font-size: 2em;
  text-align: left;
  margin: 1em;
  text-indent: 1em;
}

#single-creation {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 2em;
}

#single-engagment {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1em;
  font-size: 1.1em;
}

@media only screen and (min-width: 375px) {
  #single-title {
    font-size: 2.8em;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 1px;
    word-spacing: 5px;
    line-height: 50px;
    text-align: left;
    margin-left: 20px;
    font-style: italic;
    margin-top: 0;
  }
  #single-creation {
    font-size: 1.2em;
  }
  #single-engagment {
    font-size: 1.1em;
  }
  .single-card-body {
    font-size: 1.2em;
    text-align: left;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 30px;
    font-weight: 450;
  }
  .single-article-card ul {
    padding: 0;
    margin: auto;
  }
}

#single-container {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.single-article-card-topic {
  text-align: left;
  padding-left: 1.5em;
  margin-top: 1em;
  margin-bottom: 0;
}

.nav-container {
  height: 100%;
  width: 70px;
  position: fixed;
  z-index: 1;
  background-color: #756069;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 30px;
  padding-left: 15px;
  transition: 0.5s;
}

.main {
  transition: margin-left 1s;
  padding: 20px;
}

.nav-container:hover {
  width: 250px;
}

.nav-container:hover .nav-item {
  visibility: visible;
}

.nav-container:hover img {
  opacity: 100%;
  transition: 0.5s;
}

.nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex-wrap: nowrap;
  height: 100%;
}

.nav-item {
  font-size: 2em;
  text-decoration: none;
  transition: 0.3s;
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-template-rows: 1fr;
  gap: 20px;
  row-gap: 100px;
}

.nav-item:hover p {
  opacity: 100%;
  transition: 0.5s;
}

.nav-item img {
  margin: auto;
  opacity: 50%;
}

.nav-item p {
  margin: auto;
  color: white;
  opacity: 50%;
}

#nav-text {
  text-decoration: none !important;
}

#artwork {
  padding-top: 10px;
  padding-bottom: 10px;
  margin: auto;
}

.gen-grid {
  width: 350px;
  height: 150px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#cell-1 {
  background-color: #452647;
}

#cell-2 {
  background-color: #756069;
}

#cell-3 {
  background-color: #453141;
}
